:root {
  /* Colors */
  --dark-blue: #2B2D42;
  --light-grey: #e9e9e9;
  --grey: #CFDBD5;
  --dark-grey: #484857;
  --teal: #087F8C;
  --yellow: #FFBF00;
  --green: #138A36;

  /* Fonts */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  font-size: clamp(14px, 3vw, 18px);
  scroll-behavior: smooth;
}
  
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}
img, svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: var(--medium);
}
h1 {
  font-size: clamp(2rem, 8vw, 3rem);
}
h2  {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
}
p {
  line-height: 1.25;
  color: var(--dark-grey);
}
body {
  --max-content-width: 1400px;
  --section-padding: min(5vw, 3rem);

  padding-top: 3.4rem;
  color: var(--dark-blue);
  text-align: center;
}
/* JS added & removed */
body.no-scroll {
  overflow: hidden;
}
body.no-scroll-margin, 
body.no-scroll-margin .burger {
  overflow: hidden;
  margin-right: 10px;
}
/**********************/
/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #ffff;
}
body::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}
section {
  padding: var(--section-padding);
}
.scroll-to {
  position: relative;
}
.anchor {
  position: absolute;
  top: -3.4rem;
}

/*** Mobile Menu *************************************************************/
.mobile-menu {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  z-index: 9;
  background: #fff4;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 100vh;
  width: 0%;
  transition: width ease-out 0.3s;
  padding-top: 1em;
}
.mobile-menu a {
  padding: 0.7em 0;
}
/* JS added & removed */
.open {
  width: 100%;
}

/*** Navigaion ***************************************************************/
nav {
  box-shadow: 0 0 1rem #00000034;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: #fff;
}
.nav-items-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.25rem;
  max-width: var(--max-content-width);
  margin: 0 auto;
}
/* Logo */
.logo {
  margin-right: auto;
  font-size: 1.4rem;
  caret-color: #0000;
}
.logo a {
  font-weight: var(--bold);
}
.logo span {
  color: var(--green);
  font-style: italic;
  text-transform: uppercase;
}
/* Burger */
.burger {
  height: 1.4rem;
  width: 1.8rem;
  position: relative;
  caret-color: #0000;
  cursor: pointer;
}
.burger div {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--dark-blue);
  transition: all ease-out 0.2s;
}
.burger :nth-child(1){
  top: 0;
}
.burger :nth-child(2){
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: none;
}
.burger :nth-child(3){
  bottom: 0;
}
/* JS added & removed (burger to x transition)*/
.x :nth-child(odd){
  top: 50%;
  margin: 0 auto;
}
.x :nth-child(1){
  rotate: 40deg;
}
.x :nth-child(2){
  opacity: 0;
}
.x :nth-child(3){
  rotate: -40deg;
  bottom: 50%;
}
/**********************/
/* Links */
nav h3 ~ a {
  display: none;
  line-height: 1.4rem;
}

/*** Hero ********************************************************************/
.hero {
  min-height: calc(100vh - 3.4rem);
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem clamp(1.5rem, 9vw, 3rem);
  position: relative;
  overflow: hidden;
}
/* Image */
.hero-image {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  width: min(80vw, 15rem);
  box-shadow: 0 0.5rem 1rem #0004;
  border: 2px solid var(--green);
  margin: 0 0 1.5rem;
}
/* Text */
.hero-text {
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.hero span {
  font-size: 1.4rem;
  font-weight: var(--medium);
  line-height: 2;
  display: inline-block;
}
.hero-text p {
  padding: 0.75rem 0;
  color: var(--dark-blue);
  text-shadow: 
    4px 4px 10px var(--light-grey), -4px -4px 10px var(--light-grey), 
    -4px 4px 10px var(--light-grey), 4px -4px 10px var(--light-grey);
}
.hero-text a {
  display: inline-block;
  background: #fff;
  padding: 0.55rem 1rem 0.5rem;
  border-radius: 5rem;
  margin-top: 0.5rem;
  font-weight: var(--bold);
  color: var(--green);
  box-shadow: 0 0.5rem 1rem #0004;
}
/* Background image */
.hero .bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

/*** Skills ******************************************************************/
.skills {
  padding: 0;
}
.skills > h3 {
  color: #fff;
  background: var(--dark-blue);
  padding: 0.5rem 0.5rem 0.4rem;
  font-size: 1.2rem;
  font-weight: var(--regular);
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
.blob-container {
  --mouse-x: -50vw; /* updated with JS */
  --mouse-y: 0;

  --blob-height: 5rem;
  --blob-width: 4.2rem;

  --opacity: 1;

  position: absolute;
  inset: 0;
  overflow: hidden;
}
.blob-container::before { /* blob */
  content: "";
  background-image: radial-gradient(var(--yellow), #fff0);
  height: var(--blob-height);
  width: var(--blob-width);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: var(--mouse-y);
  left: var(--mouse-x);
  translate: calc(-0.5 * var(--blob-width)) calc(-0.5 * var(--blob-height));
  animation: spin 5s linear infinite;
  transition: 
    top ease-out 0.15s, 
    left ease-out 0.15s;
  opacity: var(--opacity);
}
.blob-container::after { /* blur overlay */
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1rem);
}
.skills-container-wrapper {
  background-image: linear-gradient(-30deg, var(--teal), var(--green));
  backdrop-filter: blur(4px);
  position: relative;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0.8rem;
  padding: 1rem 1rem 6rem;
  max-width: 600px;
  margin: 0 auto;
}
.skill {
  border: 1px solid #8fff8080;
  box-shadow: inset 0 0 0.5rem #8fff80bb;
  background: #fff3;
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 3;
}
.skill svg, 
.skill img {
  max-width: 80%;
  margin: 0 auto auto;
  min-width: 0;
}
.skill p {
  color: #fffd;
  font-weight: var(--medium);
  font-size: 0.65rem;
}
.gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  background: linear-gradient(#fff0, #fff);
}

/*** About *******************************************************************/
:is(.about, .portfolio, .contact, footer) > * {
  max-width: var(--max-content-width);
  margin: 0 auto;
}
/* .about > img {
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0 #0004;
}
.about h2 {
  margin-top: 1.5rem;
}
.about-content {
  padding: 1.5rem;
}
.about-content img {
  display: none;
} */

/*** Portfolio ****************************************************************/
.portfolio {
  background: var(--light-grey);
}
.buttons-container {
  display: flex;
  gap: clamp(0.5rem, 2vw, 0.7rem);
  justify-content: center;
}
.portfolio button {
  background: #fff;
  border: none;
  color: var(--dark-blue);
  font-size: clamp(0.85rem, 2vw, 1rem);
  font-weight: var(--medium);
  padding: 0.55em clamp(0.6em, 2vw, 1rem) 0.5em;
  position: relative;
  box-shadow: 0 0.2rem 1rem #0002;
  cursor: pointer;
  border-radius: 2rem;
  transition: all ease-out 0.2s;
}
.portfolio button:hover {
  box-shadow: 0 0.2rem 1rem #0000002f;
}
.portfolio button.active {
  color: var(--green);
}
/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  margin-top: 2rem;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.6rem #00000010;
}
.preview-container {
  aspect-ratio: 16/8.5;
  overflow: hidden;
  background-size: cover;
  transition: background-position ease-in-out 2s;
}
.preview-container:hover {
  background-position: bottom;
}
.about-project {
  padding: 1em 1em 0.8em;
  text-align: left;
}
.type {
  padding: 0.2em 0.5em;
  display: inline-block;
  border-radius: 0.2em;
  margin: 0.5em 0 0.8em;
}
[data-project-type="email"] .type {
  color: #e58208;
  background: #e582082c;
}
[data-project-type="landing-page"] .type {
  color: #084887;
  background: #0847872c;
}
.view-link, .code-link {
  color: #fff;
  padding: 0.5em;
  margin: auto 0.5em 0;
  border-radius: 2px;
}
.view-link {
  background: var(--green);
  margin: auto 0.5em 0;
}
.code-link {
  background: var(--dark-blue);
  margin: 2px 0.5em 0.5em;
}
.card svg {
  height: 1em;
  width: 1em;
  margin-left: 0.8em;
  display: inline-block;
  vertical-align: middle;
}

/*** Contact *****************************************************************/
.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.socials-container :is(svg, img) {
  height: 3rem;
  margin: 1rem 0;
}
/*** Footer ******************************************************************/
footer {
  background: var(--light-grey);
  font-size: 0.8rem;
  padding: 0.5rem;
}
footer p, footer a {
  color: var(--dark-grey)
}
footer a {
  text-decoration: underline;
}

/*** Media Queries ***********************************************************/
@media (min-width: 375px){
  .burger {
    display: none;
  }
  nav h3 ~ a {
    display: block;
  }
}
/* Skills grid */
@media (min-width: 300px){
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 400px){
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 560px){
  .skills-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
/***************/
@media (min-width: 768px) {
  body {
    --section-padding: clamp(1.5rem, 9vw, 3rem) clamp(1.5rem, 9vw, 5rem);
  }
  h2, .hero, section:not(.skills) p {
    text-align: left;
  }
  .hero {
    flex-direction: row-reverse;
  }
  .hero-image {
    margin: 0 0 0 clamp(1.725rem, 4vw, 4rem);
    width: min(100%, 20rem);
  }
  .buttons-container {
    justify-content: flex-start;
  }
  .socials-container {
    justify-content: flex-start;
  }
}

