:root {
  /* Colors */
  --dark-blue: #2B2D42;
  --light-grey: #e9e9e9;
  --grey: #CFDBD5;
  --dark-grey: #484857;
  --teal: #087F8C;
  --yellow: #FFBF00;
  --green: #138A36;

  /* Fonts */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  font-size: 14px;/* desktop 18px */
}
  
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}
img, svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: var(--medium);
}
h1 {
  font-size: 2rem;
}
h2  {
  font-size: 1.5rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: var(--bold);
}
p {
  line-height: 1.25;
  color: var(--dark-grey);
}
body {
  padding-top: 3.4rem;
  color: var(--dark-blue);
  text-align: center;
}
/* JS added & removed */
body.no-scroll {
  overflow: hidden;
}
/**********************/
/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #ffff;
}
body::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

/*** Mobile Menu *************************************************************/
.mobile-menu {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  z-index: 9;
  background: #fff4;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 100vh;
  width: 0%;
  transition: width ease-out 0.3s;
  padding-top: 1em;
}
.mobile-menu a {
  padding: 0.7em 0;
}
/* JS added & removed */
.open {
  width: 100%;
}

/*** Navigaion ***************************************************************/
nav {
  box-shadow: 0 0 1rem #00000034;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: #fff;
}
.nav-items-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.25rem;
  /* max-width: px; */
  margin: 0 auto;
}
/* Logo */
.logo {
  margin-right: auto;
  font-size: 1.4rem;
  caret-color: #0000;
}
.logo a {
  font-weight: var(--bold);
}
.logo span {
  color: var(--green);
  font-style: italic;
  text-transform: uppercase;
}
/* Burger */
.burger {
  height: 1.4rem;
  width: 1.8rem;
  position: relative;
  caret-color: #0000;
  cursor: pointer;
}
.burger div {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--dark-blue);
  transition: all ease-out 0.2s;
}
.burger :nth-child(1){
  top: 0;
}
.burger :nth-child(2){
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: none;
}
.burger :nth-child(3){
  bottom: 0;
}
/* JS added & removed (burger to x transition)*/
.x :nth-child(odd){
  top: 50%;
  margin: 0 auto;
}
.x :nth-child(1){
  rotate: 40deg;
}
.x :nth-child(2){
  opacity: 0;
}
.x :nth-child(3){
  rotate: -40deg;
  bottom: 50%;
}
/**********************/
/* Links */
nav h3 ~ a {
  display: none;
  line-height: 1.4rem;
}

/*** Hero ********************************************************************/
.hero {
  min-height: calc(100vh - 3.4rem);
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
/* Image */
.hero-image {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-width: 280px;
}
/* Text */
.hero-text {
  position: relative;
  z-index: 2;
}
.hero-text p {
  padding: 0.75rem 0;
}
.hero-text a {
  display: inline-block;
  background: #fff;
  padding: 0.55rem 1rem 0.5rem;
  border-radius: 5rem;
  margin-top: 0.5rem;
  font-weight: var(--bold);
  color: var(--green);
}
/* Background image */
.hero .bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 0;
}

/*** Skills ******************************************************************/
.skills-container {
  position: relative;
  backdrop-filter: blur(4px);
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
.blob-container {
  --mouse-x: 0; /* updated with JS */
  --mouse-y: 0; /*                 */

  --blob-height: 5rem;
  --blob-width: 4.2rem;

  position: absolute;
  inset: 0;
  overflow: hidden;
}
.blob-container::before { /* blob */
  content: "";
  background-image: radial-gradient(var(--yellow), #fff0);
  height: var(--blob-height);
  width: var(--blob-width);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: var(--mouse-y);
  left: var(--mouse-x);
  translate: calc(-0.5 * var(--blob-width)) calc(-0.5 * var(--blob-height));
  animation: spin 5s linear infinite;
  transition: 
    top ease-out 0.15s, 
    left ease-out 0.15s;
}
.blob-container::after { /* blur overlay */
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1rem);
}
.skills > h3 {
  color: #fff;
  background: var(--dark-blue);
  padding: 0.5rem 0.5rem 0.4rem;
  font-size: 1rem;
  font-weight: var(--regular);
}
.skills-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem 1rem 6rem;
  background-image: linear-gradient(-30deg, var(--teal), var(--green));
}
.skill {
  border: 1px solid #8fff8080;
  box-shadow: inset 0 0 0.5rem #8fff80bb;
  background: #fff3;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 3;
}
.skill svg, 
.skill img {
  max-width: 80%;
  margin: 0 auto auto;
  min-width: 0;
}
.skill p {
  color: #fffd;
  font-weight: var(--medium);
  font-size: 0.65rem;
}
.gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  background: linear-gradient(#fff0, #fff);
}

/*** About *******************************************************************/
.about > img {
  width: calc(100% - 2rem);
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0 #0004;
}
.about h2 {
  margin-top: 1.5rem;
}
.about-content {
  padding: 1.5rem;
}
.about-content img {
  display: none;
}

/*** Projects ****************************************************************/
.projects {
  background: var(--light-grey);
}
.projects h2 {
  padding: 1.5rem;
}
.buttons-container {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  padding: 0 0.5rem;
}
.projects button {
  background: none;
  border: none;
  color: var(--dark-blue);
  font-weight: var(--medium);
  text-transform: uppercase;
}
/* Cards */
.card {
  background: #fff;
}

/*** Contact *****************************************************************/
